@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  font-size: 16px;
}

body {
  font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  line-height: 1.5;
}

/* Aplicar estilos de fondo y texto usando clases de Tailwind */
body {
  @apply bg-white text-gray-900 dark:bg-gray-900 dark:text-white;
}

/* Mejora la legibilidad en pantallas pequeñas */
@media (max-width: 600px) {
  html {
    font-size: 14px;
  }
}

/* Asegura que el texto sea escalable */
@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}